<ul class="list-group">
    {{#each categoryItems}}
    <li class="list-group-item">
        {{#link-to 'inventorysearch' name}}
        {{name}}
        {{/link-to}}
        <span class="badge text-right">{{count}}</span>
    </li>
    {{/each}}
</ul>

