<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Checkout</h2>
    </div>
    <div class="panel-body">
        <p>Thanks for ordering using the app. Your order is ready for pickup</p>
    </div>
</div>