<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Orders</div>
    <div class="panel-body">
        <p>Order Number 123.</p>
        <p>Status : Preparing</p>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th class="text-right">Quantity</th>
                <th class="text-right">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Red Wine</td>
                <td class="text-right">3</td>
                <td class="text-right">22.45</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Orders</div>
    <div class="panel-body">
        <p>Order Number 534.</p>
        <p>Status : Ready for Pickup</p>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th class="text-right">Quantity</th>
                <th class="text-right">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Blue Wine</td>
                <td class="text-right">3</td>
                <td class="text-right">22.45</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h2 >Previous Orders</h2>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Orders</div>
    <div class="panel-body">
        <p>Order Number 534.</p>
        <p>Status : Ready for Pickup</p>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th class="text-right">Quantity</th>
                <th class="text-right">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Blue Wine</td>
                <td class="text-right">3</td>
                <td class="text-right">22.45</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>